<p>register works!</p>
<div class="container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Username: </label>
    <input formControlName="userName" type="text">
    <div *ngIf="registerForm.controls['userName'].errors">

    </div>
</div>
  <div>
      <label>Email: </label>
      <input></div>

        <label for="">Password: </label>
        <input formControlName="password" type="text">
        <div *ngIf="registerForm.controls['password'].errors">
        </div>

        <label></label>
<button type="submit">submit</button>
</form>
</div>

