<p>register works!</p>
<div class="container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Username: </label>
    <input formControlName="userName" type="text">
    <div *ngIf="registerForm.controls['userName'].errors">

    </div>
</div>
  <div>
      <label>Email: </label>
      <input></div>

        <label for="">Password: </label>
        <input formControlName="password" type="text">
        <div *ngIf="registerForm.controls['password'].errors">
        </div>

        <div>
          <label for="">Telefon number</label>
          <input type="number">
        </div>
        <p>Address:</p>
        <div>
          <label for="">Street</label>
          <input type="text">
        </div>
        <div>
          <label for="house_Number">House Number: </label>
          <input type="number">
        </div>

        <div>
          <label for="zip_Code">Zip Code:</label>
          <input type="text">
        </div>

        <div>
          <label for="city">City</label>
          <input type="text">
        </div>

        <label></label>
<button type="submit">submit</button>
</form>
</div>

