
<h1>Say hello to your Neighbears 🐻</h1>

<div class="container">
  <form (ngSubmit)="validateUser(loginform)" #loginform="ngForm">
    <div class="form-group">

    <label for="email">email</label>
 <input class="form-control"  type="email" name="email" id="email" [(ngModel)]="model.email">
 <label  for="password">Password</label>
 <input id="password" name="password" type="password" [(ngModel)]="model.pwd" class="form-control" >
 <div>
    <button class="friendly-btn"  type="submit">Sign in</button>
  </div>
  </div>

  </form>
</div>
