.box
{
  border-radius: 2%;
  border-color: black;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Schatten */
  display: flex;

}

:host {
  display: block;
  background: #333;
  color: white;
}



nav {
  display: flex;
  gap: 1rem;          /* Abstand zwischen den Links */
  align-items: center;
}

nav a{
  text-decoration: none;
  color:  inherit ;
}
