
img{
 
  height: 60px;           /* exakt so hoch wie die Navbar */
  width: auto;            /* Seitenverhältnis beibehalten */
  display: block;         /* verhindert zusätzliche Abstände (inline default) */
  object-fit: contain;  
}


    nav {
      background-image: url('../../../assets/LogoNeighbears.png');
      background-repeat: no-repeat;
      background-position: left center;  /* links zentriert */
      background-size: auto 100%;
      position: sticky;
      top: 0;
      padding: 1rem 2rem;
      color: #333;
      height: 60px;
      /* sanfter Pastell-Verlauf */
      background: linear-gradient(135deg,
        rgba(255, 200, 200, 0.8),
        rgba(200, 220, 255, 0.8));
      backdrop-filter: blur(8px);
      display: flex;
    }
    nav a {
      margin: 0 2rem;
      color: #333;
      text-decoration: none;
      font-weight: 600;
      flex-direction: row;

    }
    nav a:hover {
      text-decoration: underline;
    }


.box
{
  display: flex;
  margin-top: 5px;
}
