<div class="container">
<img src="{{imageSource}}">
<div class="text">
  <h2>Meet your Neighbears</h2>
  <br>
<h5>Turn strangers next door into a friendly community. Share, connect & enjoy everyday neighborhood life.</h5>
<article>

    In a world where we can stay connected with someone we met 10 years ago on the other side of the globe, we often don’t even know our next-door neighbor.

    Neighbears changes that.
    Our app helps you connect with the people in your own building – with names, photos, and optional details like floor or door location.

    Why Neighbears?
    🤝 Easy contact with your neighbors

    🌱 Everyday help (plants, pets, sugar, eggs)

    🎉 More community & understanding

    📬 Create events with just an emoji – from “extra carrots” 🥕 to “anyone up for table tennis?” 🏓


    How it works:

    Sign up with your address

    See who lives in your building

    Share, connect & enjoy your friendly neighborhood
  </article>
</div>
</div>
