
<div *ngIf="profileIsFilledOut">
  <p>Titel</p>
  <p>{{selfDescription.title}}</p>
  <p>About Me:</p>
  <p>{{selfDescription.message}}</p>
<button (click)="goToFillOutForm()" class="friendly-btn">Change profile description</button>
</div>



<div *ngIf="!profileIsFilledOut && !wannaChangeDescription">
<form (ngSubmit)="saveSelfDescripton(loginform)" #loginform="ngForm">

  <div class="form-group">

  <label for="titel">Titel</label>
<input class="form-control"  type="titel" name="titel" id="titel" [(ngModel)]="selfDescription.title">
<label  for="message">About Me:</label>
<input id="message" name="message" type="descripton" [(ngModel)]="selfDescription.message" class="form-control" >
  <button *ngIf="selfDescription==null" class="friendly-btn" type="submit">Add description</button>

</div>

</form>

</div>


<div *ngIf=" wannaChangeDescription" class="form-group">
  <form (ngSubmit)="changeDescription(loginform)" #loginform="ngForm">



    <label for="titel">Titel</label>
  <input class="form-control"  type="titel" name="titel" id="titel" [(ngModel)]="selfDescription.title">
  <label  for="message">About Me:</label>
  <input id="message" name="message" type="descripton" [(ngModel)]="selfDescription.message" class="form-control" >
    <button  class="friendly-btn"  type="submit">Confirm to change description</button>



  </form>

  </div>
