:host {
  display: block;          /* macht den Host (app-image) als Block/Flex-Item berechenbar */
  width: 100%;             /* füllt die zugewiesene Flex-Breite */
}

img {
  width: 100%;             /* skaliert mit dem Container */
  height: auto;            /* Seitenverhältnis beibehalten */
  display: block;          /* entfernt die untere „Bildzeilen-Lücke“ */
  object-fit: cover;       /* optional: füllt den Bereich, schneidet ggf. */
  aspect-ratio: 4 / 4;  
  border-radius: 50%;
  /* Optional, falls du eine fixe Kachelwirkung willst:
  aspect-ratio: 4 / 3;
  */
}





.friendly-btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.friendly-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(92,184,92,0.4);
}

button{
 margin-left: 10%;
}
